---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: google
ColumnLimit: 100
---
Language: Cpp
Standard: Cpp11
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true
ForEachMacros: []
---
